/* You can add global styles to this file, and also import other style files */
/* Login Form CSS Starts */
.login {
	min-height: 100vh;
}

.image {
	min-height: 100vh;
}

.bg-image {
	background-image: url("assets/Login.jpg");
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
}

.login-heading {
	font-weight: 300;
}

.simple-auth-form {
	background: #fff;
	min-height: 100%;
}
/* Login Form CSS Ends */

/* Home Page Nave Bar CSS Starts */
.nav-item-active {
	background:#4FA9DC;	
 }
#nav-link { 
	color:white 
} 

#logoutLink {
	color:#007bff;
	cursor: pointer;
}
/* Home Page Nave Bar CSS Starts */
