<div class="container-fluid py-2">

</div>
<nav class="navbar">
  <ul class="nav navbar-nav" ></ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a class="nav-link" id="logoutLink" data-toggle="modal" data-target="#logoutModal" style="text-align: right;" (click)="displayLogoutConfirmation()">Logout
        <i  style="font-size:100%; color:red" class="fa fa-sign-out" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      Role : {{authority}}
    </li>
    
  </ul>
</nav>
<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="authority">
      <div class="navbar-nav">
        <div [routerLinkActive]="['nav-item-active']" class="nav-item" >
            <a id="nav-link" class="nav-link" routerLink="dashboard">Dashboard</a>
        </div>
        <div [routerLinkActive]="['nav-item-active']" class="nav-item" *ngIf="authority === 'user' || authority === 'admin'">
            <a id="nav-link"class="nav-link" routerLink="user" >User Board </a>
        </div>
        <div [routerLinkActive]="['nav-item-active']" class="nav-item" *ngIf="authority === 'admin'">
            <a id="nav-link"class="nav-link" routerLink="admin" >Admin Board </a>
        </div>
        <div [routerLinkActive]="['nav-item-active']" class="nav-item" *ngIf="authority === 'pm' || authority === 'admin'">
            <a id="nav-link" class="nav-link" routerLink="pm" >PM Board </a>
        </div>
       
      </div>
  </nav>
</div>


<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
       <!-- Modal Header -->
       <div class="modal-header">
        <h4 class="modal-title">Log Out <i class="fa fa-lock"></i></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to logout?
        </div>
         <!-- Modal footer -->
         <div class="modal-footer">
          <button type="button" class="btn btn-danger"  (click)="logout()" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div>
